.account-settings-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

    .notification-option {
      margin-bottom: 10px;
      padding: 10px;
    }

    .notification-header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
    }

    .notification-header h4, p {
      margin: 0px;
    }
    
    .notification-label {
      margin-left: 10px;
    }

    .other-options {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    .select-container {
      margin-top: 20px;
      padding: 10px;
    }
      
    .select-label {
      margin-right: 10px;
    }
      
    .select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
    }
      
    .save-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;
    }
    
    .save-button:hover {
      background-color: #0056b3;
    }
}

