.add-pet-form-container {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    z-index: 1;

    .add-pet-form {
        width: 80%;
        max-width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        overflow-y: scroll;
        position: relative;
    }


    .form-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
      
    .form-section:last-child {
        border-bottom: none;
    }

    .add-activity-card {
        padding: 10px;
        margin: 10px auto;
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .optional-section {
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-top: 10px;
    }

    .radio-buttons {
        display: flex;
        justify-content: space-evenly;
    }

    hr {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .input-group {
        margin-bottom: 15px;
    }
      
    .input-group label {
        display: block;
        margin-bottom: 5px;
    }
      
    .input-group input, textarea {
        width: 80%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
      
    .input-group input:focus, textarea:focus {
        outline: none;
        border-color: #007bff;
    }

      
    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .form-section button,
    .navigation-buttons button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        width: fit-content;
    }
    
    .navigation-buttons button:hover {
        background-color: #0056b3;
    }

    .activity-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* Adjust the gap between cards */
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
      }
      
    .activity-card {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
    }

    p {
        padding: 0px;
        margin: 0px;
    }

    .activity-card-header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .activity-card-icon {
        cursor: pointer;
    }
      
    .activity-items-grid {
        margin: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); 
        /* grid-template-columns: repeat(3, 1fr); */
        gap: 10px; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
      
    .activity-items-card {
        padding: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
        border: 1px solid #cccccc;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .activity-items-card:hover {
        background-color: #e0e0e0;
    }

    .pet-image-container {
        width: 100%;
        display: flex;
        flex-direction: column;    
        margin-bottom: 15px;    
    }

    .pet-image {
        max-width: 200px;
        padding: 5px;
        margin: 10px auto;
        border-radius: 50%;
        border: 1px solid #ccc;
    } 

    .upload-overlay { 
        max-width: fit-content;
        background-color: rgba(255, 255, 255, 0.7); 
        border: 2px dashed #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        margin: 10px auto;
        padding: 10px;
    }

    .additional-photo-wrapper {
        position: relative;
        display: inline-block; 
    }

    .delete-photo-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 1; 
    }

    .additional-photos {
        display: flex;
        overflow-x: scroll;
        padding: 10px;
        gap: 20px;
    
        .additional-photo {
          width: 120px;
          height: auto;
        }
    }
  
   
}



 

  
 
  