.pet-profile-container {
    padding: 20px;

    .pet-details-card {
        background-color: #f2f2f2;
        padding: 20px;
        margin-bottom: 20px;
    }

    .img-profile {
        width: 120px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }

    .pet-details-headers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .name-species-section {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: 5px;

        .species-icon {
            width: 20px;
            height: 20px;
        }
    }

    .pet-details-actions {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .health-info-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
    }
    
    .health-info-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }

    .health-info-header {
        display: flex;
        justify-content: space-between;
    }
    
    .health-info-card h4 {
        margin-top: 0;
    }
    
    .health-info-card p {
        margin: 5px 0;
    }

    .health-info-actions {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
    
    .health-info-card p strong {
        margin-right: 5px;
    }

    .health-information,
    .activity-log,
    .weight-tracker,
    .meal-planner,
    .gallery,
    .notes-section,
    .expenses,
    .actions-section {
        margin-bottom: 40px;
    }
    
    .notes-section table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .notes-section th,
    .notes-section td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }
    
    .notes-section th {
        background-color: #f2f2f2;
    }
    
    .notes-section td {
        font-size: 0.9rem;
    }
    
    .actions-section button {
        margin-right: 10px;
    }

    
}

.chart-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-wrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 500px; 
    height: 500px;
}

