.section {
    padding: 0 20px;

    .add-activity-card {
        padding: 10px;
        margin: 10px auto;
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .actions {
        display: flex;
        gap: 5px;
    }

    .upload-overlay { 
        max-width: fit-content;
        background-color: rgba(255, 255, 255, 0.7); 
        border: 2px dashed #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        margin: 10px 0;
        padding: 10px;
    }


    .additional-photos {
        display: flex;
        overflow-x: scroll;
        padding: 10px;
        gap: 20px;
        width: 80%;
    
        .additional-photo {
          width: 150px;
          height: auto;
        }

        
        .additional-photo-wrapper {
            position: relative;
            display: inline-block; 
        }

        .delete-photo-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            z-index: 1; 
        }
    }

    .bar-chart-container {
        width: 500px;
        height: 300px;
        /* height: 50%; */
    }
}

