.page-container {
    width: 100%;
    background: linear-gradient( rgba(255,255,255, 0.7), rgba(255,255,255, 0.7) ), url('../images/paw_background.jpg');
}

.signup-login-page {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
  
  .signup-login-page-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .signup-login-page-nav .nav-option {
    width: 48%;
    opacity: 0.5;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #494949;
    line-height: 1.05;
    border-bottom: 2px solid #494949;
    height: 50px;
    cursor: pointer;
  }
  
  .signup-login-page-nav .nav-selected {
    color:  #795B4A;;
    border-color:  #795B4A;;
    opacity: 1;
  }
  
  .signup-login-page-title {
    font-size: 26px;
    color: #494949;
    line-height: 1.83;
    letter-spacing: -0.6px;
  }
  
  .signup-login-page-line {
    width: 53px;
    height: 2px;
    margin-bottom: 33px;
    margin-top: 17px;
    border: solid 2px  #795B4A;;
  }
  
 
  
 .signup-login-page {
    width: 419px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }
  
   .signup-login-page-nav {
    justify-content: center;
    margin-bottom: 25px;
    margin-left: -1%;
  }
  
   .signup-login-page-nav .nav-option {
    width: 30%;
    margin-left: 5%;
  }
  
 
  