.user-profile {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  .user-profile h2 {
    margin-bottom: 20px;
  }
  
  .edit-profile,
  .view-profile {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .edit-profile label {
    display: block;
    margin-bottom: 5px;
  }
  
  .change-password input,
  .edit-profile input {
    padding: 8px;
  }
  
  .edit-profile button {
    width: fit-content;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-profile button {
    width: fit-content;
    padding: 8px 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .change-password {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .change-password button {
    width: fit-content;
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

}




/* 
.user-profile-card {
    border: 1px solid #795B4A;
    border-radius: 8px;
    background: #F8F4EF;
    color: #795B4A;
    overflow: hidden;
    width: 50%;
    margin: 20px auto;
    padding: 20px;

    .user-image-container {
      position: relative;
    }
    
    .user-image {
      width: 50%;
      height: auto;
      border-radius: 50%;
    }
    
    .upload-overlay {
      position: absolute;
      top: 35%;
      left: 25%;
      width: 50%;
      background: rgba(0, 0, 0, 0.5); // Semi-transparent overlay 
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    
    .user-image-container:hover .upload-overlay {
      opacity: 1;
    }
    
    .upload-button {
      background-color: #fff;
      color: #333;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .user-details {
      padding: 20px;
    }
    
    h2 {
      margin-top: 0;
    }
  
    input {
      width: 60%;
    }
    
    button {
      width: max-content;
    }
    
    .user-header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .details-container {
      display: flex;
      flex-direction: column;
      margin: 5px;
  
      label {
        font-weight: bold;
      }
    }
  
    .edit-actions {
      display: flex;
      gap: 15px;
    }
  }
 */
